body{
    background-color: rgb(247, 55, 234);
    font-family: "Lago Eagle";
}
#profile{
    height: 100px;
    width: 100px;
    border: solid 2px #fff;
    border-radius: 50%;
    background-image: url("lulamolusco.jpeg");
    background-size: cover;
    margin: auto;
    margin-bottom: 15px;
}
#username{
    color: #fff;
    text-align: center;
}
.buttonlist{
    background-color: #fff;
    border-radius: 50px;
    font-size: 16px;
    text-align: center;
    padding: 18px;
    width: 90%;
    margin: auto;
    margin-top: 15px;
}
.buttonlist:hover{
    background-color:rgb(187, 40, 178);
    color:white;
    cursor: pointer;
    animation: fadeIn 0.7s ease-out;
    -webkit-animation:fadeIn 0.7s ease-out;
}
.network-icon{
    height: 30px;
    width: 30px;
    background-size: cover;
    float: left;
    margin-left: 20px;
}
.facebookicon{
    background-image: url("facebookicon.jpeg");
}
.twittericon{
    background-image: url("twittericon.jpeg");
}
.instagramicon{
    background-image: url("instagramicon.jpeg");
}
.spotifyicon{
    background-image: url("spotifyicon.jpeg");
}
.linkedinicon{
    background-image: url("linkedinicon.jpeg");
}
.emailicon{
    background-image: url("emailicon.jpeg");
}
#networkicon-container{
    width: 60%;
    margin: auto;
    margin-top: 10px;
}